*:focus {
  outline: none;
}

body, html {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
  overflow-y: hidden;
}

body {
  background: linear-gradient(to bottom, rgba(238, 199, 88, 0.24) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/cover.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav {
  bottom: 2.8vh;
  height: 50px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-20%);
  width: 50%;
  z-index: 99;
}

#nav span {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  height: 10px !important;
  margin: 0 8px;
  width: 10px !important;
}

#nav span.active {
  background-color: #706e6b;
}

.section {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  height: 65%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-40%);
  top: 30%;
  width: 100vw;
  z-index: 98;
}

.section .backlay {
  background-color: #161313;
  height: 127vh;
  left: 50%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95%;
  z-index: -1;
}

.section .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 2vh;
  height: 100%;
  line-height: 2vh;
  margin: 0px auto;
  overflow-y: auto;
}

.section .inner > h3 {
  margin-top: 4vh;
  width: 100%;
}

.section .inner > p {
  margin: 0 auto 1vh;
  width: 85%;
}

.section .inner div {
    width: 50%;
}

.section .inner > div h3:not(:first-child) {
  margin-top: 8vh;
}

#cover {
  color: #fff;
  display: none;
  height: 30%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-40%);
  top: 40%;
  width: 85%;
}

#cover h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 8vh;
  font-weight: normal;
}

#cover span {
  border-right: 1px solid #cacac7;
  display: inline-block;
  line-height: 2.5vh;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5vh;
  padding: 0 12px;
}

#cover span:last-child {
  border-right: 0;
}

#cover span > b {
  display: block;
  font-size: 3vh;
  margin-bottom: 10px;
}

#cover span > i {
  font-size: 2.5vh;
  font-style: normal;
}

#invitation .inner {
  font-size: 2.5vh;
  height: 70vh;
  line-height: 3.5vh;
}

#entourage, #motiff {
  width: 94vw;
}

#entourage .backlay {
  width: 100%;
}

#motiff .inner > p {
  line-height: 2.5vh;
}

#motiff {
  height: 80%;
  margin-top: 5vh;
}

#others .inner {
  align-content: flex-start;
}

#others .inner input#name,
#others .inner select#reply,
#others .inner button#confirm {
  border: 1px dotted #dddddd;
  background-color: transparent;
  color: #fff;
  font-size: 2vh;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  width: 100%;
}

#others .inner select {
  font-size: 1.5vh !important;
  text-indent: 3vw;
}

#others .inner select option {
  color: #676666;
}

#others .inner select#reply {
  width: 48%;
  float: left;
}

#others .inner button#confirm {
  background-color: #ddd;
  color: #676666;
  cursor: pointer;
  float: right;
  font-weight: bolder;
  opacity: 0.9;
  width: 48%;
}

#others .inner p.hashtags {
  margin-top: 25vh;
  line-height: 2.5vh;
}
