body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


div#container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#bad-reception, div#play-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 98;
}

div#play-container {
  background-color: #000;
  z-index: 100;
  text-align: center;
}

div#play-container button {
  position: absolute;
  top: 45%;
  left: 40%;
  width: 20%;
  height: 10%;
  background-color: gold;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: 40px;
  cursor: pointer;
  font-family: 'Press Start 2P';
}

div#vhs-effect {
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  font-family: 'Press Start 2P';
  color: #fff;
  position: relative;
  font-size: 21px;
}

div#vhs-effect * {
  position: absolute;
}

div#vhs-effect b#ve-play {
  top: 30px;
  left: 40px;
  z-index: 99;
}

div#vhs-effect b#ve-names {
  bottom: 30px;
  left: 40px;
  z-index: 99;
}

div#vhs-effect div#ve-time span {
  position: relative;
}

div#vhs-effect div#ve-time {
  top: 30px;
  right: 40px;
  z-index: 99;
}

div#vhs-effect b#ve-year {
  bottom: 30px;
  right: 40px;
  z-index: 99;
}

div#slideshow {
  width: 80%;
  position: absolute;
  left: 10%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

div#film-top {
  width: 80%;
  position: absolute;
  left: 10%;
  height: 7vh;
  background-repeat: repeat;
  background-image: url(../img/strip.png);
  z-index: 97;
  top: 91px;
  background-size: 62px;
  opacity: 0.6;
}

div#film-bottom {
  width: 80%;
  position: absolute;
  left: 10%;
  height: 7vh;
  background-repeat: repeat;
  background-image: url(../img/strip.png);
  z-index: 97;
  bottom: 91px;
  background-size: 62px;
  opacity: 0.6;
}